@page "/CADTrackTypes"
@inject HttpClient httpClient;
@inject NavigationManager navigationManager;
@inject IDialogService DialogService;
@inject ISnackbar Snackbar;
@using SCMDWH.Shared.Models;
@inject IStringLocalizer<CultureExample2> Loc


<style>

    .mud-data-grid .mud-table-cell .column-header .sortable-column-header {
        font-size: small !important;
    }

    .mud-table-cell {
        padding: 0px !important;
        font-size: small !important;
        text-transform: uppercase !important;
        text-align: left !important;
    }
</style>

<MudTable Items="@tracktypesList" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" FixedFooter="true"
          FixedHeader="true" Height="38em" RowsPerPage="18" Filter="new Func<CarAdviceDictionaryTruckType,bool>(FilterFunc)">
    <ToolBarContent>
        <MudGrid Style="background-color:#f5f8f8">
            <MudItem xs="3">
                <MudButton Target="_blank" Variant="Variant.Filled" EndIcon="@Icons.Filled.NewLabel"
                           Style="text-transform:none " OnClick="AddNew" Size="Size.Large">
                    @Loc["lbAddnewitem"]
                </MudButton>
            </MudItem>
            <MudItem xs="4">
                <MudAlert Severity="Severity.Normal" Variant="Variant.Text">
                    <h5>@Loc["lbTruckTypes"] </h5>
                </MudAlert>
            </MudItem>
            <MudItem xs="5">
                <MudTextField Variant="Variant.Text" @bind-Value="searchString" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0"></MudTextField>
            </MudItem>
        </MudGrid>
    </ToolBarContent>
    <ColGroup>
        <col style="width: 2%; " />
        <col style="width: 40%;" />
        <col style="width: 2%;" />
        <col style="width: 10%;" />
        <col style="width: 10%;" />
        <col style="width: 1%;" />
        <col style="width: 1%;" />
    </ColGroup>
    <HeaderContent>
        <MudTh class="thcs"><MudTableSortLabel SortBy="new Func<CarAdviceDictionaryTruckType, object>(x=>x.Id)">Id</MudTableSortLabel></MudTh>
        <MudTh class="thcs">Currier</MudTh>
        <MudTh class="thcs">Active</MudTh>
        <MudTh class="thcs">Added by user</MudTh>
        <MudTh class="thcs">Add time</MudTh>
        <MudTh class="thcs">Edit</MudTh>
        <MudTh class="thcs">Delete</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="User Name">@context.Id</MudTd>
        <MudTd DataLabel="Email" Style="text-align:left!important">@context.Truck</MudTd>
        <MudTd DataLabel="Active">
            <MudCheckBox ReadOnly="true" @bind-Checked="@context.ActiveFlag"></MudCheckBox>
        </MudTd>
        <MudTd DataLabel="Created Time">@context.AddByUser</MudTd>
        <MudTd DataLabel="Remark">@context.AddTime</MudTd>
        <MudTd DataLabel="Edit">
            <MudIconButton @onclick="@(()=>Edit(@context))" Color="Color.Default" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
        </MudTd>
        <MudTd  DataLabel="Delete">
            <MudIconButton @onclick="@(()=>Delete(@context))" Color="Color.Secondary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    List<CarAdviceDictionaryTruckType> tracktypesList = new List<CarAdviceDictionaryTruckType>();
    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = true;
    private string searchString = "";
    private bool _sortNameByLength;
    private List<string> _events = new();

    private async Task readData()
    {
        string link = "/api/CarAdviceDictionaryTruckTypes";
        try
        {
            tracktypesList = await httpClient.GetFromJsonAsync<List<CarAdviceDictionaryTruckType>>(link);
        }
        catch (Exception ex)
        {
            Snackbar.Add("Error " + ex.Message, Severity.Error, config => { config.ShowCloseIcon = false; config.Icon = Icons.Rounded.Transform; config.VisibleStateDuration = 500; });
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await readData();
    }

    private async void Delete(CarAdviceDictionaryTruckType tracktype)
    {
        var parameters = new DialogParameters();
        string strDelete = Loc["lbDelete"];
        parameters.Add("ButtonText", strDelete);
        parameters.Add("Color", Color.Error);
        var options = new DialogOptions() { CloseButton = false, MaxWidth = MaxWidth.ExtraSmall };
        var dialog = DialogService.Show<DialogDictionaryDeleteComponent>(strDelete, parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            string link = "/api/CarAdviceDictionaryTruckTypes/" + tracktype.Id;
            var Response = await httpClient.DeleteAsync(link);
            await readData();
            StateHasChanged();
            if (Response.IsSuccessStatusCode)
            {
                tracktypesList = tracktypesList.Where(u => u.Truck != tracktype.Truck).ToList();
                StateHasChanged();
                // Snackbar.Add("OK", Severity.Info, config => { config.ShowCloseIcon = false; config.Icon = Icons.Rounded.Transform; config.VisibleStateDuration = 500; });
            }
            else
            {
                Snackbar.Add("Error !!!", Severity.Error, config => { config.ShowCloseIcon = false; config.Icon = Icons.Rounded.Error; config.VisibleStateDuration = 500; });
            }
        }
    }

    private async void AddNew()
    {
        string strlbAddNew = Loc["lbNew"];
        CarAdviceDictionaryTruckType newTractType = new CarAdviceDictionaryTruckType();
        var parameters = new DialogParameters { ["Id"] = "XXX" };
        var dialog = DialogService.Show<CADTrackTypesDialogAddEdit>(strlbAddNew, parameters);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            newTractType = (CarAdviceDictionaryTruckType)result.Data;
            string link = "/api/CarAdviceDictionaryTruckTypes/";
            var Response = await httpClient.PostAsJsonAsync<CarAdviceDictionaryTruckType>(link, newTractType);
            await readData();
            StateHasChanged();
        }
    }

    private async void Edit(CarAdviceDictionaryTruckType trackType)
    {
        string strlbEdit = Loc["lbEdit"];
        CarAdviceDictionaryTruckType updateTrackType = new CarAdviceDictionaryTruckType();
        var parameters = new DialogParameters { ["Id"] = trackType.Id.ToString() };
        var dialog = DialogService.Show<CADTrackTypesDialogAddEdit>(strlbEdit, parameters);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            updateTrackType = (CarAdviceDictionaryTruckType)result.Data;
            string link = "/api/CarAdviceDictionaryTruckTypes/" + trackType.Id;
            var Response = await httpClient.PutAsJsonAsync<CarAdviceDictionaryTruckType>(link, updateTrackType);
            await readData();
            StateHasChanged();
        }
        await readData();
    }

    private bool FilterFunc(CarAdviceDictionaryTruckType element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Truck.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

}
