@using System.Security.Claims;
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@using SCMDWH.Shared.Models;
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IStringLocalizer<CultureExample2> Loc

<style>

    .demo-content {
        padding: 1px;
        font-size: 10px;
        background: #dbdfe5;
        margin-bottom: 1px;
        font-weight: 500;
    }

        .demo-content.bg-alt {
            background: #dbdfe5;
            font-size: 15px;
        }

    .mud-input {
/*        height: 0.6rem !important;
        font: 100 !important;
        font-size: medium !important;
        font-weight: 500 !important;*/
    }

    .form-control {
/*        font-size: x-small !important;
        font-weight: 600 !important;*/
    }
</style>

<MudGrid Style="background-color:#faf6f5!important">
     <MudItem xs="12">

        <MudAlert Severity="Severity.Normal" Style="background-color:#fadcd4!important" Dense="true" ContentAlignment="HorizontalAlignment.Center" Elevation="2">@Loc["lbSecurityEntryInfo"]</MudAlert>

     </MudItem>
    <MudItem xs="2">
        <MudTextField @bind-Value="@CarAdviceMainTableWHEdit.Id" Label="Nr" Variant="Variant.Text" ReadOnly="true" Margin="Margin.Normal"></MudTextField>
    </MudItem>

    <MudItem xs="2">
        <MudDatePicker Label=@Loc["lbAtaTimeDate"] @bind-Date="AtaTimeDate" DisableToolbar="true" Editable="true" Margin="Margin.Normal"/>

    </MudItem>
    <MudItem xs="2">
        <MudTimePicker Label=@Loc["lbAtaDateTime"] AmPm="false" @bind-Time="AtaTimeTime" DisableToolbar="true" Editable="true" ErrorText=@Loc["lberrorDateTime"] Margin="Margin.Normal" />
        <MudButton Variant="Variant.Filled" Size="Size.Small" OnClick="NowButton1">@Loc["lbNow"] </MudButton>
    </MudItem>

    <MudItem xs="2">
        <MudAutocomplete Margin="Margin.Normal" Dense="true" T="string" Label=@Loc["lbQuality"] @bind-Value="CarAdviceMainTableWHEdit.Quality" SearchFunc="@SearchQuality"
                         ResetValueOnEmptyText="@resetValueOnEmptyText" />
    </MudItem>
    <MudItem xs="2">
        <MudAutocomplete Margin="Margin.Normal" Dense="true" T="string" Label=@Loc["lbTruckType"] @bind-Value="CarAdviceMainTableWHEdit.TruckType" SearchFunc="@SearchTuruckType"
                         ResetValueOnEmptyText="@resetValueOnEmptyText"/>
    </MudItem>
    <MudItem xs="2">
        <MudTextField Margin="Margin.Normal"  @bind-Value="@CarAdviceMainTableWHEdit.TruckPlatesS" Label=@Loc["lbPlates"] Variant="Variant.Text"></MudTextField>
    </MudItem>
    <MudItem xs="2">
        <MudTextField Margin="Margin.Normal" @bind-Value="@CarAdviceMainTableWHEdit.DriverS" Label=@Loc["lbDriverS"] Variant="Variant.Text"></MudTextField>
    </MudItem>
    <MudItem xs="2">
        <MudDatePicker Margin="Margin.Normal" Label=@Loc["lbTPVEntrydate"] @bind-Date="TPVEntryTimeDate" DisableToolbar="true" Editable="true" />
    </MudItem>
    <MudItem xs="2">
        <MudTimePicker Margin="Margin.Normal" Label=@Loc["lbTPVEntrytime"] AmPm="false" @bind-Time="TPVEntryTimeTime" DisableToolbar="true" Editable="true" />
        <MudButton Variant="Variant.Filled" Size="Size.Small" OnClick="NowButton2">@Loc["lbNow"] </MudButton>
    </MudItem>
    <MudItem xs="2">
       @* <MudTextField @bind-Value="@CarAdviceMainTableWHEdit.CallBy" Label=@Loc["lbCallBy"] Variant="Variant.Text"></MudTextField>*@
        <MudAutocomplete Margin="Margin.Normal" Dense="true" T="string" Label=@Loc["lbCallBy"] @bind-Value="CarAdviceMainTableWHEdit.CallBy" SearchFunc="@SearchCallBy"
                         ResetValueOnEmptyText="@resetValueOnEmptyText" />
    </MudItem>
    <MudItem xs="2">
        <MudTextField Margin="Margin.Normal" @bind-Value="@CarAdviceMainTableWHEdit.EntryByS" Label=@Loc["lbEntryByS"] Variant="Variant.Text"></MudTextField>
    </MudItem>
    <MudItem xs="2">
        <MudTextField Margin="Margin.Normal" @bind-Value="@CarAdviceMainTableWHEdit.RemarksS" Label=@Loc["lbRemarksS"] Variant="Variant.Text"></MudTextField>
    </MudItem>
    <MudItem xs="12">
        <MudAlert Severity="Severity.Normal" Style="background-color:#fadcd4!important" Dense="true" ContentAlignment="HorizontalAlignment.Center" Elevation="2">Security exit info </MudAlert>
    </MudItem>
    <MudItem xs="2">
        <MudDatePicker Label=@Loc["lbTPVExitdate"] @bind-Date="TPVExitTimeDate" DisableToolbar="true" Editable="true" />
    </MudItem>
    <MudItem xs="2">
        <MudTimePicker Label=@Loc["lbTpvExitTime"] AmPm="false" @bind-Time="TPVExitTimeTime" DisableToolbar="true" Editable="true" />
        <MudButton Variant="Variant.Filled" Size="Size.Small" OnClick="NowButton3">@Loc["lbNow"] </MudButton>
    </MudItem>
</MudGrid>
<hr />
<MudAlert Severity="Severity.Normal" Style="background-color:#ebf5f7!important" Dense="true" ContentAlignment="HorizontalAlignment.Center" Elevation="1">@Loc["lbGeneralWarehouseInfoprmation"]</MudAlert>
<hr />

<div class="container">
    <div class="row " style="--bs-gutter-x: 0.5rem!important">
            <div class="col-lg-2">
            <div class="demo-content">@Loc["lbShipment"]</div>
            </div>
            <div class="col-lg-2">
            <div class="demo-content ">@Loc["lbReference"]</div>
            </div>
            <div class="col-lg-2">
            <div class="demo-content">@Loc["lbAdDate"]</div>
            </div>
            <div class="col-lg-2">
            <div class="demo-content">@Loc["lbEtdDate"]</div>
            </div>
            <div class="col-lg-2">
            <div class="demo-content">@Loc["lbDestination"]</div>
            </div>
            <div class="col-lg-2">
                <div class="demo-content">@Loc["lbCarriers"]</div>
            </div>
        </div>
    <div class="row " style="--bs-gutter-x: 0.5rem!important">
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.Shipment</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.Reference</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.AdviceDate</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.Etd</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.Destination</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.Forwarder</div>
        </div>
    </div>
    <div class="row " style="--bs-gutter-x: 0.5rem!important">
        <div class="col-lg-2">
            <div class="demo-content">@Loc["lbClient"]</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content ">@Loc["lbPlates"]</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content">@Loc["lbDriverWH"]</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content">@Loc["lbPickingstatus"]</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content">@Loc["lbPickingtime"]</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content">@Loc["lbScannedtime"]</div>
        </div>
    </div>
    <div class="row " style="--bs-gutter-x: 0.5rem!important">
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.Client</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.TruckPlatesWh</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.DriverWh</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.PickingStatus</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.PickingTime</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.ScannedTime</div>
        </div>
    </div>
    <div class="row " style="--bs-gutter-x: 0.5rem!important">
        <div class="col-lg-2">
            <div class="demo-content">@Loc["lbReason"]</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content ">@Loc["lbDock"]</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content">@Loc["lbleftdockdate"]</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content">@Loc["lbEntryByS"]</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content">@Loc["lbRemarkWH"]</div>
        </div>
    
    </div>
    <div class="row " style="--bs-gutter-x: 0.5rem!important">
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.FgDelayReason</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.LoadingDock</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.LeftTheDockTime</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.EntryByS</div>
        </div>
        <div class="col-lg-2">
            <div class="demo-content bg-alt">@CarAdviceMainTableWHEdit.RemarksWh</div>
        </div>

    </div>
  </div>


<hr />

<MudGrid>
    <MudItem xs="6">

    </MudItem>


    <MudItem xs="2">

    </MudItem>
    <MudItem xs="2">
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Size="Size.Small" OnClick="CancelButton">@Loc["lbCancel"]</MudButton>
    </MudItem>

    <MudItem xs="2">
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Size="Size.Small" OnClick="SaveWh">@Loc["lbSave"]</MudButton>
    </MudItem>
</MudGrid>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public EventCallback<string> DeleteItem { get; set; }

    CarAdviceMainTable CarAdviceMainTableWHEdit = new CarAdviceMainTable();

    private bool resetValueOnEmptyText;
    string UserName = "";

    List<CarAdviceDictionaryCustomers> customerList = new List<CarAdviceDictionaryCustomers>();
    private List<string> customers;


    List<CarAdviceDictionaryCountryCode> destinationList = new List<CarAdviceDictionaryCountryCode>();
    private List<string> destination;

    List<CarAdviceDictionaryCarriers> currierList = new List<CarAdviceDictionaryCarriers>();
    private List<string> curriers;

    List<CarAdviceDictionaryStatus> PickingStatusList = new List<CarAdviceDictionaryStatus>();
    private List<string> PickingStatus;

    List<CarAdviceDictionaryReason> FG_DelayReasonList = new List<CarAdviceDictionaryReason>();
    private List<string> FG_DelayReason;

    List<CarAdviceDictionaryQuality> qualityList = new List<CarAdviceDictionaryQuality>();
    private List<string> quality;

    List<string> callbyList = new List<string>();

    List<CarAdviceDictionaryTruckType> truckTypeList = new List<CarAdviceDictionaryTruckType>();
    private List<string> trucktype;

    DateTime? LeftDockTimeDate;
    TimeSpan? LeftDockTimeTime;

    DateTime? EtdTimeDate;
    TimeSpan? EtdTimeTime;

    DateTime? PickingTimeDate;
    TimeSpan? PickingTimeTime;

    DateTime? ScannedTimeDate;
    TimeSpan? ScannedTimeTime;

    DateTime? AtaTimeDate;
    TimeSpan? AtaTimeTime;

    DateTime? TPVEntryTimeDate;
    TimeSpan? TPVEntryTimeTime;

    DateTime? TPVExitTimeDate;
    TimeSpan? TPVExitTimeTime;

    private async Task SaveWh()
    {

        await DeleteItem.InvokeAsync("Save");

        // Picking date
        if (PickingTimeDate != null)
        {
            DateTime PickingTimeDateNotNulable = (DateTime)PickingTimeDate;
            TimeSpan PickingTimeTimeNotNulable = (TimeSpan)PickingTimeTime;
            CarAdviceMainTableWHEdit.PickingTime = PickingTimeDateNotNulable.Add(PickingTimeTimeNotNulable);
        }
        // Scanned Time
        if (ScannedTimeDate != null)
        {
            DateTime ScannedTimeDateNotNulable = (DateTime)ScannedTimeDate;
            TimeSpan ScannedTimeTimeNotNulable = (TimeSpan)ScannedTimeTime;
            CarAdviceMainTableWHEdit.ScannedTime = ScannedTimeDateNotNulable.Add(ScannedTimeTimeNotNulable);
        }

        //  LeftTheDockTime

        if (LeftDockTimeDate != null)
        {
            DateTime LeftDockTimeDateNotNulable = (DateTime)LeftDockTimeDate;
            TimeSpan LeftDockTimeTimeNotNulable = (TimeSpan)LeftDockTimeTime;
            CarAdviceMainTableWHEdit.LeftTheDockTime = LeftDockTimeDateNotNulable.Add(LeftDockTimeTimeNotNulable);
        }


        if (EtdTimeDate != null)
        {
            DateTime EtdTimeDateNotNulable = (DateTime)EtdTimeDate;
            TimeSpan EtdTimeTimeNotNulable = (TimeSpan)EtdTimeTime;
            CarAdviceMainTableWHEdit.Etd = EtdTimeDateNotNulable.Add(EtdTimeTimeNotNulable);

        }

        if (AtaTimeDate != null)
        {
            DateTime AtaTimeDateNotNulable = (DateTime)AtaTimeDate;
            TimeSpan AtaTimeTimeNotNulable = (TimeSpan)AtaTimeTime;
            CarAdviceMainTableWHEdit.Ata = AtaTimeDateNotNulable.Add(AtaTimeTimeNotNulable);
        }

        if (TPVEntryTimeDate != null)
        {
            DateTime TPVEntryTimeDateNotNulable = (DateTime)TPVEntryTimeDate;
            TimeSpan TPVEntryTimeTimeNotNulable = (TimeSpan)TPVEntryTimeTime;
            CarAdviceMainTableWHEdit.TpvEnterTime = TPVEntryTimeDateNotNulable.Add(TPVEntryTimeTimeNotNulable);
        }

        if (TPVExitTimeDate != null)
        {
            DateTime TPVExitTimeDateNotNulable = (DateTime)TPVExitTimeDate;
            TimeSpan TPVExitTimeTimeNotNulable = (TimeSpan)TPVExitTimeTime;
            CarAdviceMainTableWHEdit.TpvExitTime = TPVExitTimeDateNotNulable.Add(TPVExitTimeTimeNotNulable);
        }

        string linkSave = "/api/CarAdviceMainTables/" + CarAdviceMainTableWHEdit.Id;
        var Response = await httpClient.PutAsJsonAsync<CarAdviceMainTable>(linkSave, CarAdviceMainTableWHEdit);

        await ReadData();
        StateHasChanged();
    }

    private async Task CancelButton()
    {
        await DeleteItem.InvokeAsync("Cancel");
    }

    private void NowButton1()
    {

        AtaTimeDate = DateTime.Today;
        AtaTimeTime = DateTime.Now.TimeOfDay;
        StateHasChanged();
    }

    private void NowButton2()
    {
        TPVEntryTimeDate = DateTime.Today;
        TPVEntryTimeTime = DateTime.Now.TimeOfDay;
        StateHasChanged();
    }

    private void NowButton3()
    {
        TPVExitTimeDate = DateTime.Today;
        TPVExitTimeTime = DateTime.Now.TimeOfDay;
        StateHasChanged();
    }



    protected async override void OnInitialized()
    {
        var authState = await AuthState;
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/login");
        }
        else
        {
            UserName = user.FindFirst(d => d.Type == ClaimTypes.Name)?.Value;
        }


        // truck type

        string linktt = "/api/CarAdviceDictionaryTruckTypes/GetCarAdviceDictionaryActiveTruckType";
        truckTypeList = await httpClient.GetFromJsonAsync<List<CarAdviceDictionaryTruckType>>(linktt);
        trucktype = truckTypeList.Select(c => c.Truck).ToList();

        // quality

        string linkq = "/api/CarAdviceDictionaryQualities";
        qualityList = await httpClient.GetFromJsonAsync<List<CarAdviceDictionaryQuality>>(linkq);
        quality = qualityList.Select(c => c.Quality).ToList();

        // FG_reason for delay

        string linkRu = "/api/CarAdviceDictionaryReasons/GetCarAdviceDictionaryActiveReason";
        FG_DelayReasonList = await httpClient.GetFromJsonAsync<List<CarAdviceDictionaryReason>>(linkRu);
        FG_DelayReason = FG_DelayReasonList.Select(c => c.Code).ToList();

        // picking status

        string linkstat = "/api/CarAdviceDictionaryStatus/GetCarAdviceDictionaryActiveStatus";
        PickingStatusList = await httpClient.GetFromJsonAsync<List<CarAdviceDictionaryStatus>>(linkstat);
        PickingStatus = PickingStatusList.Select(c => c.Status).ToList();


        // curriers - forwarder

        string linkFo = "/api/CarAdviceDictionaryCarriers/GetCarAdviceActiveDictionaryCarriers";
        currierList = await httpClient.GetFromJsonAsync<List<CarAdviceDictionaryCarriers>>(linkFo);
        curriers = currierList.Select(c => c.Carrier).ToList();

        // destination - country code

        string linkDe = "/api/CarAdviceDictionaryCountryCodes";
        destinationList = await httpClient.GetFromJsonAsync<List<CarAdviceDictionaryCountryCode>>(linkDe);
        destination = destinationList.Select(c => c.Country).ToList();

        // Customers

        string linkCu = "/api/CarAdviceDictionaryCustomers/GetCarAdviceDictionaryActiveCustomer";
        customerList = await httpClient.GetFromJsonAsync<List<CarAdviceDictionaryCustomers>>(linkCu);
        customers = customerList.Select(c => c.Customer).ToList();

        // WH call by

        string linkWHCB = "/api/GlobalAppUserRoles/GetWHGlobalAppUserRoles";
        callbyList = await httpClient.GetFromJsonAsync<List<string>>(linkWHCB);

        await ReadData();


        if (CarAdviceMainTableWHEdit.Etd == null)
        {
            EtdTimeDate = null;
            EtdTimeTime = null;
        }
        else
        {
            EtdTimeDate = Convert.ToDateTime(CarAdviceMainTableWHEdit.Etd).Date;
            EtdTimeTime = Convert.ToDateTime(CarAdviceMainTableWHEdit.Etd).TimeOfDay;
        }

        // scnned time

        if (CarAdviceMainTableWHEdit.ScannedTime == null)
        {
            ScannedTimeDate = null;
            ScannedTimeTime = null;
        }
        else
        {
            ScannedTimeDate = Convert.ToDateTime(CarAdviceMainTableWHEdit.ScannedTime).Date;
            ScannedTimeTime = Convert.ToDateTime(CarAdviceMainTableWHEdit.ScannedTime).TimeOfDay;
        }

        // picking time

        if (CarAdviceMainTableWHEdit.PickingTime == null)
        {
            PickingTimeDate = null;
            PickingTimeTime = null;
        }
        else
        {
            PickingTimeDate = Convert.ToDateTime(CarAdviceMainTableWHEdit.PickingTime).Date;
            PickingTimeTime = Convert.ToDateTime(CarAdviceMainTableWHEdit.PickingTime).TimeOfDay;
        }

        // ledt dock time

        if (CarAdviceMainTableWHEdit.LeftTheDockTime == null)
        {
            LeftDockTimeDate = null;
            LeftDockTimeTime = null;
        }
        else
        {
            LeftDockTimeDate = Convert.ToDateTime(CarAdviceMainTableWHEdit.LeftTheDockTime).Date;
            LeftDockTimeTime = Convert.ToDateTime(CarAdviceMainTableWHEdit.LeftTheDockTime).TimeOfDay;
        }

        if (CarAdviceMainTableWHEdit.Ata == null)
        {
            AtaTimeDate = null;
            AtaTimeTime = null;
        }
        else
        {
            AtaTimeDate = Convert.ToDateTime(CarAdviceMainTableWHEdit.Ata).Date;
            AtaTimeTime = Convert.ToDateTime(CarAdviceMainTableWHEdit.Ata).TimeOfDay;
        }

        // TPV Entry Time

        if (CarAdviceMainTableWHEdit.TpvEnterTime == null)
        {
            TPVEntryTimeDate = null;
            TPVEntryTimeTime = null;
        }
        else
        {
            TPVEntryTimeDate = Convert.ToDateTime(CarAdviceMainTableWHEdit.TpvEnterTime).Date;
            TPVEntryTimeTime = Convert.ToDateTime(CarAdviceMainTableWHEdit.TpvEnterTime).TimeOfDay;
        }

        // TPV exit time

        if (CarAdviceMainTableWHEdit.TpvExitTime == null)
        {
            TPVExitTimeDate = null;
            TPVExitTimeTime = null;
        }
        else
        {
            TPVExitTimeDate = Convert.ToDateTime(CarAdviceMainTableWHEdit.TpvExitTime).Date;
            TPVExitTimeTime = Convert.ToDateTime(CarAdviceMainTableWHEdit.TpvExitTime).TimeOfDay;
        }
        StateHasChanged();

    }


    private async Task ReadData()
    {



        string linkForEdit = "/api/CarAdviceMainTables/" + Id;
        CarAdviceMainTableWHEdit = await httpClient.GetFromJsonAsync<CarAdviceMainTable>(linkForEdit);
        CarAdviceMainTableWHEdit.EntryByS = UserName;
    }


    private async Task<IEnumerable<string>> SearchClient(string value)
    {
        if (string.IsNullOrEmpty(value))
            return customers;
        return customers.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchDestination(string value)
    {
        if (string.IsNullOrEmpty(value))
            return destination;
        return destination.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }
    private async Task<IEnumerable<string>> SearchCurriers(string value)
    {
        if (string.IsNullOrEmpty(value))
            return curriers;
        return curriers.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchPickingStatus(string value)
    {
        if (string.IsNullOrEmpty(value))
            return PickingStatus;
        return PickingStatus.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }
    private async Task<IEnumerable<string>> SearchFGDelayReason(string value)
    {
        if (string.IsNullOrEmpty(value))
            return FG_DelayReason;
        return FG_DelayReason.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchQuality(string value)
    {
        if (string.IsNullOrEmpty(value))
            return quality;
        return quality.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchCallBy(string value)
    {
        if (string.IsNullOrEmpty(value))
            return callbyList;
        return callbyList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchTuruckType(string value)
    {
        if (string.IsNullOrEmpty(value))
            return trucktype;
        return trucktype.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    //private MudAutocomplete<string> _autoComplete { get; set; }

    //private async Task resetNA(string value)
    //{
    //    value = "";
    //    await _autoComplete.Clear()
    //    StateHasChanged();
    //}

}