@using SCMDWH.Shared.Models;

@inject HttpClient httpClient;
@inject ISnackbar Snackbar
@inject IStringLocalizer<CultureExample2> Loc

<MudDialog Style="min-width: 1400px;">
    <DialogContent>
        <MudCard Outlined="true" Elevation="20">
            <MudAlert Severity="Severity.Normal" ContentAlignment="HorizontalAlignment.Center" Elevation="1">@Loc["lbAddnewitem"]</MudAlert>
            <MudGrid>
                <MudItem xs="2">
                    <MudDatePicker Label=@Loc["lbAdDateNowy"] @bind-Date="CarAdviceGRMainTableNew.AddDate" DisableToolbar="true" />
                </MudItem>
                <MudItem xs="3">
                    <MudAutocomplete Margin="Margin.None" Dense="true" T="string" Label=@Loc["lbSender"] @bind-Value="CarAdviceGRMainTableNew.SenderName" SearchFunc="@SearchSender"
                                     ResetValueOnEmptyText="@resetValueOnEmptyText" />
                </MudItem>
            </MudGrid>
        </MudCard>
         <MudCard Outlined="true" Elevation="20">
             <hr />
             <table>

                <tr>
                    <th>Lp</th>
                    <th>Invoice</th>
                    <th>Container</th>
                    <th>Material</th>
                    <th>Part No</th>
                    <th>Pallet Qty</th>
                    <th>Qty</th>
                </tr>
                @foreach (var trItem in truckItemList)
                {    
                <tr>
                    <td>
                            <input type="text" class="form-control" placeholder="" @bind="@trItem.Id" />
                    </td>  
                        <td>
                            <input type="text" class="form-control" placeholder="" @bind="@trItem.InvoiceNo" />
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="" @bind="@trItem.ContainerNo" />
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="" @bind="@trItem.Material" />
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="" @bind="@trItem.PalletNo" />
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="" @bind="@trItem.TotalPalletQty" />
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="" @bind="@trItem.TotalQty" />
                        </td>

                        <td>
                            <MudButton Variant="Variant.Filled" OnClick="() => NewTrackItem()">New</MudButton>
                        </td>

                        <td>
                            <MudButton Variant="Variant.Filled" OnClick="() => DeleteTrackItem(trItem)">Delete</MudButton>
                        </td>
                </tr>

                }
            </table>
         </MudCard>
    </DialogContent>
    <DialogActions>

        <MudGrid>
            <MudItem xs="6">
            </MudItem>
            <MudItem xs="2">
            </MudItem>
            <MudItem xs="2">
                <MudButton OnClick="CloseCancel" Variant="Variant.Outlined" Size="Size.Medium" StartIcon="@Icons.Material.Filled.Cancel">@Loc["lbCancel"]</MudButton>
            </MudItem>
            <MudItem xs="2">
                <MudButton Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Medium" StartIcon="@Icons.Material.Filled.Save" OnClick="CloseSave">@Loc["lbSave"]</MudButton>
            </MudItem>
        </MudGrid>
    </DialogActions>
</MudDialog>



@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public string Id { get; set; }
    string userName = "";
    private bool resetValueOnEmptyText;
    private long iId = 1;

    CarAdviceGrTruckMainTable CarAdviceGRMainTableNew = new CarAdviceGrTruckMainTable() { carAdviceGrTruckItems = new List<CarAdviceGrTruckItems>() };
    List<CarAdviceGrTruckItems> truckItemList = new() { new CarAdviceGrTruckItems { Id = 1 } };
    CarAdviceGrTruckItems truckItem = new();


    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private List<string> senders;
    List<CarAdviceGrDictionarySender> sendersList = new List<CarAdviceGrDictionarySender>();

    private async Task DeleteTrackItem(CarAdviceGrTruckItems delItemId)
    {
        //var de = truckItemList.Find(c => c.Id == delItemId);
        truckItemList.Remove(delItemId);
        StateHasChanged();
    }

    private void NewTrackItem()
    {
        iId++;
        CarAdviceGrTruckItems newEmptyItem = new() { Id = iId };
        truckItemList.Add(newEmptyItem);
        StateHasChanged();
    }


    protected async override void OnInitialized()
    {
        // Senders
        string linkCu = "/api/CarAdviceGrDictionarySender";
        sendersList = await httpClient.GetFromJsonAsync<List<CarAdviceGrDictionarySender>>(linkCu);
        senders = sendersList.Select(c => c.SenderName).ToList();
    }

    private async Task<IEnumerable<string>> SearchSender(string value)
    {
        if (string.IsNullOrEmpty(value))
            return senders;
        return senders.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }


    void CloseCancel() => MudDialog.Close(DialogResult.Cancel());





    private async void CloseSave()
    {
        string linkCu = "api/CarAdviceGrTruckMainTable/NewItemGr";
        CarAdviceGRMainTableNew.carAdviceGrTruckItems = truckItemList;
        await httpClient.PostAsJsonAsync(linkCu, CarAdviceGRMainTableNew);
    }

}
