<MudSimpleTable Style="overflow-x: auto;" Dense="true" Hover="true" Bordered="true" Striped="true">
    <thead>
        <tr>
            <th>Invoice</th>
            <th>Container</th>
            <th>Material</th>
            <th>Pallet No</th>
            <th>Pallet Qty</th>
            <th>Qty</th>
        </tr>
    </thead>
    <tbody>
       @* @foreach (var row in carAdviceGrTruckItems)
        {
            <tr>
                <td>@row.InvoiceNo</td>
                <td>@row.ContainerNo</td>
                <td>@row.Material</td>
                <td>@row.PalletNo</td>
                <td>@row.TotalPalletQty</td>
                <td>@row.TotalQty</td>
            </tr>
        }*@
    </tbody>
</MudSimpleTable>

@code {


}
