@layout BlankLayout
@page "/PrintWHTable/{Id}"
@using SCMDWH.Shared.Models;
@inject HttpClient httpClient
@inject IStringLocalizer<CultureExample2> Loc
@inject NavigationManager navigationManager
@inject IJSRuntime IJS;


<form id="printable-form">
    <div class="container text-left">
        <div class="row">
        </div>
        <hr />
        <div class="row">
            <div class="card" style="width: 20rem;background-color:lightgrey">
                <div class="card-body">
                    <p style="font-size:xx-large">Nr dokumentu </p>
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h1 class="card-title">@Id</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6>Nr  </h6>
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <div class="card-title">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6>Data awizacji  </h6>
                </div>

            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h6 class="card-title">@CarAdviceMainTablePrint.Etd</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6>Nr wysyłki  </h6>
                </div>

            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h6 class="card-title">@CarAdviceMainTablePrint.Shipment</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6>Numer referencyjny  </h6>
                </div>

            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h6 class="card-title">@CarAdviceMainTablePrint.Reference</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6>Kraj  </h6>
                </div>

            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h6 class="card-title">@CarAdviceMainTablePrint.Destination</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6>Kierowca - magazyn  </h6>
                </div>

            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h6 class="card-title">@CarAdviceMainTablePrint.DriverWh</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6>Tablice - magazyn  </h6>
                </div>

            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h6 class="card-title">@CarAdviceMainTablePrint.TruckPlatesWh</h6>
                </div>
            </div>
        </div>
    </div>
</form>

  <MudGrid Class="hideWhenPrint">
    <MudItem xs="2">
    </MudItem>
    <MudItem xs="2">
        <button type="button" class="btn btn-secondary" @onclick="PrintLabel">Primary</button>
    </MudItem>
    <MudItem xs="2">
        <button type="button" class="btn btn-secondary" @onclick="CancelButton">@Loc["lbCancel"]</button>
    </MudItem>
</MudGrid>



@code {
    [Parameter]
    public string Id { get; set; }

    CarAdviceMainTable CarAdviceMainTablePrint = new();

    protected override async Task OnInitializedAsync()
    {
        string linkForEdit = "/api/CarAdviceMainTables/" + Id;
        CarAdviceMainTablePrint = await httpClient.GetFromJsonAsync<CarAdviceMainTable>(linkForEdit);
    }

    private void PrintLabel()
    {
        IJS.InvokeVoidAsync("Print");
    }

    private async Task CancelButton()
    {
        navigationManager.NavigateTo("/caradvice");

    }


}

