@layout BlankLayout
@page "/PrintWHTable/{Id}"
@using SCMDWH.Shared.Models;
@inject HttpClient httpClient
@inject IStringLocalizer<CultureExample2> Loc
@inject NavigationManager navigationManager
@inject IJSRuntime IJS;


<form id="printable-form">
    <div class="container text-left">
        <div class="row">
        </div>
        <hr />
        <div class="row">
            <div class="card" style="width: 20rem;background-color:lightgrey">
                <div class="card-body">
                    <p style="font-size:xx-large; margin-top:30px" >Nr doku </p>
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <p style="font-size:75px!important ; font-weight:800" class="card-title">@CarAdviceMainTablePrint.LoadingDock</p>
                </div>
            </div>
        </div>
        <div class="row" style="height: 3rem!important">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6 >Klient </h6>
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body" >
                    <h6 class="card-title" >@CarAdviceMainTablePrint.Client</h6>
                </div>
            </div>
        </div>
        <div class="row" style="height: 5rem!important">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6>Uwagi magazynu </h6>
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h6  class="card-title">@CarAdviceMainTablePrint.RemarksWh</h6>
                </div>
            </div>
        </div>
        <div class="row" style="height: 3rem!important">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6>Nr  </h6>
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <div class="card-title">
                        @CarAdviceMainTablePrint.Id
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 3rem!important">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6>Data awizacji  </h6>
                </div>

            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h6 class="card-title">@CarAdviceMainTablePrint.Etd</h6>
                </div>
            </div>
        </div>
        <div class="row" style="height: 3rem!important">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6>Nr wysyłki  </h6>
                </div>

            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h6 class="card-title">@CarAdviceMainTablePrint.Shipment</h6>
                </div>
            </div>
        </div>
        <div class="row" style="height: 3rem!important">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6>Numer referencyjny  </h6>
                </div>

            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h6 class="card-title">@CarAdviceMainTablePrint.Reference</h6>
                </div>
            </div>
        </div>
        <div class="row" style="height: 3rem!important">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6>Kraj  </h6>
                </div>

            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h6 class="card-title">@CarAdviceMainTablePrint.Destination</h6>
                </div>
            </div>
        </div>
        <div class="row" style="height: 3rem!important">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6>Kierowca - magazyn  </h6>
                </div>

            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <p class="card-title" style="font-size:18px!important; font-weight:600">@CarAdviceMainTablePrint.DriverWh</p>
                </div>
            </div>
        </div>
        <div class="row" style="height: 3rem!important">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h6>Tablice - magazyn  </h6>
                </div>

            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h6 class="card-title" style="font-size:18px!important; font-weight:600">@CarAdviceMainTablePrint.TruckPlatesWh</h6>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row hideWhenPrint">  
  <br />
</div>

  <MudGrid Class="hideWhenPrint">
    <MudItem xs="2">
    </MudItem>
    <MudItem xs="2">
        <button type="button" class="btn btn-secondary" @onclick="PrintLabel">@Loc["lbPrintWH"]</button>
    </MudItem>
    <MudItem xs="2">
        <button type="button" class="btn btn-secondary" @onclick="CancelButton">@Loc["lbCancel"]</button>
    </MudItem>
</MudGrid>



@code {
    [Parameter]
    public string Id { get; set; }

    CarAdviceMainTable CarAdviceMainTablePrint = new();

    protected override async Task OnInitializedAsync()
    {
        string linkForEdit = "/api/CarAdviceMainTables/" + Id;
        CarAdviceMainTablePrint = await httpClient.GetFromJsonAsync<CarAdviceMainTable>(linkForEdit);
    }

    private void PrintLabel()
    {
        IJS.InvokeVoidAsync("Print");
    }

    private async Task CancelButton()
    {
        navigationManager.NavigateTo("/caradvice");

    }


}

