@page "/RoleListPage"
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@using SCMDWH.Shared.Models

@attribute [Authorize]

<style>

    .mud-data-grid .mud-table-cell .column-header .sortable-column-header {
        font-size: small !important;
    }

    .mud-table-cell {
        padding: 0px !important;
        font-size: small !important;
        text-transform: uppercase !important;
        text-align: left !important;
    }
</style>

<MudTable Items="@RoleList" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped"
          FixedFooter="true" FixedHeader="true" Height="38em" RowsPerPage="18" Filter="new Func<GlobalAppRoles,bool>(FilterFunc)">


    <ToolBarContent>
        <MudGrid Style="background-color:#f5f8f8">
            <MudItem xs="3">
            
            </MudItem>
            <MudItem xs="4">
                <MudAlert Severity="Severity.Normal" Variant="Variant.Text">
                    <h5>Roles </h5>
                </MudAlert>
            </MudItem>
            <MudItem xs="5">
                <MudTextField Variant="Variant.Outlined" @bind-Value="searchString" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0"></MudTextField>
            </MudItem>
        </MudGrid>
    </ToolBarContent>

    <ColGroup>
        <col style="width: 20%; " />
        <col style="width: 40%;" />
        <col style="width: 10%;" />
    </ColGroup>
    <HeaderContent>

        <MudTh class="thcs"><MudTableSortLabel SortBy="new Func<GlobalAppRoles, object>(x=>x.RoleName)">Role name</MudTableSortLabel></MudTh>
        <MudTh class="thcs"><MudTableSortLabel SortBy="new Func<GlobalAppRoles, object>(x=>x.RoleName)">Remarks</MudTableSortLabel></MudTh>
        <MudTh class="thcs">Methods</MudTh>
    </HeaderContent>
    <RowTemplate>

        <MudTd DataLabel="RoleName">@context.RoleName</MudTd>
        <MudTd DataLabel="RoleName">@context.Remarks</MudTd>


        <MudTd DataLabel="Methods">
            <MudIconButton @onclick="@(()=>Edit(@context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
            <MudIconButton @onclick="@(()=>Delete(@context))" Color="Color.Secondary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = true;
    private string searchString = "";
    private IEnumerable<GlobalAppRoles> RoleList = new List<GlobalAppRoles>();

    protected override async Task OnInitializedAsync()
    {
        string link = "/api/GlobalAppRoles";
        RoleList = await httpClient.GetFromJsonAsync<List<GlobalAppRoles>>(link);
    }

    private bool FilterFunc(GlobalAppRoles element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.RoleName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

    private async void AddNew()
    {

     
    }
    //------------------------------------------------------------------------
    private void Edit(GlobalAppRoles role)
    {
        

    }

    private async void Delete(GlobalAppRoles user)
    {
     

    }

}
